.WorkspaceManager {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	flex-direction: column;
	user-select: none;
}

.WorkspaceManager-Container {
	width: 300px;
	margin: auto;
	display: flex;
	flex-flow: column;
	gap: 1rem;
	transform: translateY(-50px);
}

.WorkspaceManager-Header {
	margin: 0;
	font-family: Arial, sans-serif;
	color: var(--color-typo-secondary);
}

.WorkspaceManager-Container .Button-Text {
	text-align: center;
	font-size: 1rem;
	font-weight: bold;
}

.WorkspaceManager-ProfilesList {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: auto;
	max-height: 300px;
}

.WorkspaceManager-ProfilesList li {
	padding: 0.6rem;
	font-family: Arial, sans-serif;
	background: var(--color-control-type-default-fill-color-base);
	border-radius: 4px;
	font-size: 0.9rem;
}

.WorkspaceManager-ProfilesList li:not(:last-child) {
	margin-bottom: 0.5rem;
}

.WorkspaceManager-ProfilesList li:hover {
	background: var(--color-control-type-default-fill-color-hover);
}
