.TabsMenu_view_primary .TabsMenu-Container {
	gap: 1px;
}

.TabsMenu_view_primary .TabsMenu-Tab {
	display: flex;
	gap: 0.5rem;
	padding: 0.5rem;
	background: var(--color-control-type-default-fill-color-base);
	font-size: 0.9rem;
}

.TabsMenu_view_primary .TabsMenu-Tab:hover {
	background: var(--color-control-type-default-fill-color-hover);
}

.TabsMenu_view_primary .TabsMenu-Tab.TabsMenu-Tab_active {
	background: var(--color-control-type-default-fill-color-hover);
}
