.List {
	margin: 0;
	padding-left: 0;
	list-style: none;
	font-family: arial;
	user-select: none;
}

.List-Group {
	display: block;
    margin-top: 0.25rem;
}

.List-Group > .List {
	padding-left: 1rem;
}

.List-Item {
	line-height: 1.5rem;
}
.List-Item:not(:last-child) {
	margin-bottom: 0.25rem;
}

.List-ItemBody {
	display: flex;
	padding: 4px 8px;
	gap: 0.3rem;
	border-radius: 4px;
}

.List-ItemBody:hover {
	background: #ff00ba;
	color: #ffffff;
}

.List-Item_active > .List-ItemBody {
	background: #d7079e;
	color: #fff;
}
