.TagsList-Tag {
	display: flex;
	gap: 0.3rem;
	width: 100%;
}

.TagsList-TagControls {
	margin-left: auto;
}

.TagsList-TagControls > *:hover {
	background: #0000001c;
	border-radius: 4px;
}

.TagsList-ExpandButton_opened {
	transform: rotate(180deg);
}