{
	"*.{ts,tsx,js,jsx}": [
		"prettier --write",
		"eslint --fix --max-warnings 0"
	],
	"*.css": [
		"stylelint --fix"
	],
	"*.{md,mdx}": [
		"prettier --write --parser markdown"
	],
	"*.json": [
		"prettier --write --parser json"
	]
}