.Features-Option {
	display: grid;
	/* stylelint-disable-next-line plugin/no-unsupported-browser-features */
	grid-template-columns: 40% auto;
	grid-row-gap: 50rem;
}

.Features-OptionTitle {
	text-align: end;
	line-height: 120%;
	padding-inline-end: 0.5rem;
}

.Features-OptionContent {
	align-items: baseline;
}

.Features-OptionDescription {
	font-size: 0.9rem;
	color: var(--color-typo-secondary);
	line-height: 140%;
}
