.NoteScreen {
	width: 100%;
	overflow: auto;
}

.NoteScreen-Content {
	overflow: auto;
	word-break: break-all;
	word-wrap: break-word;
	padding: 1rem;
}

.NoteScreen-SplashScreen {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	flex-direction: column;
}

.NoteScreen-Spinner {
	margin: auto;
}

.NoteScreen-Content input[type='checkbox']:checked,
.NoteScreen-Content input[type='checkbox']:checked + * {
	filter: brightness(0.8);
}
