.Preferences {
	max-width: 600px;
	margin: auto;
	padding: 2rem 1rem;
}

.Preferences .Checkbox_view_default {
	line-height: 100%;
}

.Preferences-CloseButton {
	position: absolute;
	top: 1rem;
	right: 1rem;
	text-align: center;
}

.Preferences-CloseButton .Button-Text {
	margin: 5px !important;
	text-align: center;
	line-height: 100%;
}
