.MainScreen {
	display: flex;
	flex-direction: column;
	flex-grow: 100;
	width: 100%;
	height: 100vh;
	max-width: 100%;
	max-height: 100%;
	background: var(--color-fill-color-default);
	color: var(--color-typo-primary);
}

.MainScreen-NewNoteButton {
	line-height: 2.5rem;
	font-weight: bold;
}

.MainScreen-NewNoteButton .Button-Content {
	justify-content: center;
}

.MainScreen-NewNoteButton .Button-Text {
	width: auto;
}

.MainScreen-Workspace {
	display: flex;
	justify-content: space-between;
	gap: 0.5rem;
	margin-top: auto;
}

.MainScreen-WorkspacePicker {
	width: 100%;
}

.MainScreen-SideBar {
	min-width: 250px;
	max-width: 250px;
	border-right: var(--layout-divider-weight) solid var(--color-fill-color-border);
	padding: 6px;

	/* padding: 0.5rem; */
	overflow: auto;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.MainScreen-SideBar_view_main {
	gap: 1rem;
	background: var(--color-fill-color-stripe);
}

.MainScreen-NotesList {
	overflow: auto;
}

.MainScreen-ContentBlock {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.MainScreen-NoteEditors {
	display: flex;
	flex-grow: 100;
	overflow: auto;
}

.MainScreen-Content {
	flex-grow: 100;
	display: flex;
	flex-direction: row;
	min-height: 300px;
}

.MainScreen-NotesListSelectedTag {
	font-family: Arial, Helvetica, sans-serif;
	padding: 0.5rem;
	border-radius: 4px;
	margin-bottom: 8px;
	line-height: 160%;
	font-size: 0.9rem;
	display: flex;
	white-space: nowrap;
	gap: 0.5rem;
	flex-wrap: nowrap;
}

.MainScreen-NotesListSelectedTagName {
	padding: 4.8px;
	border-radius: 4px;
	color: var(--color-control-type-default-typo-base);
	background: var(--color-control-type-default-fill-color-disabled);
	font-size: 0.8rem;
	display: inline-block;
	line-height: 140%;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Scroll bar style for chromium */
.MainScreen ::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

.MainScreen ::-webkit-scrollbar-thumb {
	color: var(--color-control-type-default-border-color-base);
	background: currentcolor;
	border-radius: 0;
	border-color: currentcolor;
}

.MainScreen ::-webkit-scrollbar-thumb:hover {
	color: var(--color-control-type-default-border-color-hover);
	background: currentcolor;
	border-color: currentcolor;
}

.MainScreen ::-webkit-scrollbar-track,
.MainScreen ::-webkit-scrollbar-track:hover {
	background: var(--color-fill-color-stripe);
}

