.StatusBar {
	display: flex;
	flex-direction: row;
	min-width: 100%;
	font-size: 0.9em;
	background: var(--color-fill-color-stripe);
	color: var(--color-typo-secondary);
	box-sizing: border-box;

	/* overflow: hidden; */
	font-family: Arial, Helvetica, sans-serif;
	border-top: var(--layout-divider-weight) solid var(--color-fill-color-border);
}

.StatusBar .Button {
	--button-border-radius: 0;

	vertical-align: middle;
}

.StatusBar-StatusContainer {
	margin-left: auto;
	line-height: 1.5rem;
}

.StatusBar-ProgressIndicator {
	display: flex;
	gap: 0.5em;
	height: 100%;
}

.StatusBar-ProgressIndicator > * {
	margin: auto;
}
