.App {
	--app-font-family:
		-apple-system,
		blinkmacsystemfont,
		'Segoe UI',
		'Noto Sans',
		helvetica,
		arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';

	display: flex;
	width: 100%;
	height: 100vh;
	font-family: var(--app-font-family);
}

.App .MainScreen {
	--button-size-m-line-height: 32px;
	--button-size-m-indent-outer: 12px;
	--button-size-m-font-size: 14px;
	--button-size-s-line-height: 26px;
	--button-size-s-indent-outer: 10px;
	--button-size-s-font-size: 12px;
	--button-font-family: var(--app-font-family);

	/* Source: https://mdigi.tools/color-shades/#2b31ff */
	--button-view-action-fill-color-base: #2b31ff;
	--button-view-action-fill-color-hovered: #2923d7;
	--button-view-action-fill-color-disabled: #6ea1dd;
	--color-fill-color-border: #e9e9e9;
	--color-fill-color-stripe: #f6f6f6;
	--color-control-type-action-fill-color-base: #dfe0ff;
	--color-control-type-action-fill-color-hovered: #2923d7;

	/* Token names examples: https://carbondesignsystem.com/guidelines/color/tokens */
	--color-control-type-panel-fill-color-base: #fff;
	--color-control-type-panel-fill-color-hovered: #efefef;
	--color-control-type-panel-fill-color-selected: #ececec;
	--color-control-type-list-fill-color-hover: #ececec;
	--color-control-type-list-fill-color-selected: #e6e6e6;
	--color-control-type-list-typo-base: #000;
	--layout-divider-weight: 1px;
	--stack-spacing: 4px;
}
