/* stylelint-disable selector-pseudo-class-no-unknown */
:global(body) {
	margin: 0;

	/* background-color: #ffd5b2; */

	/* background-color: #fff3e8; */
	background-color: #fff6eb;

	img {
		max-width: 100%;
		background: #ffe7d3;
	}

	font-family:
		ui-sans-serif,
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		Roboto,
		Inter,
		'Helvetica Neue',
		Arial,
		'Noto Sans',
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol',
		'Noto Color Emoji';

	a {
		text-decoration: none;

		/* color: #ff790c; */
		color: #b55d0e;

		&:hover {
			color: #f36e02;
		}
	}

	--color-secondary: #654c3d;

	hr {
		border: 0;
		border-bottom: 1px solid #f4e5dd;
	}
}

.Container__fullWidth {
	max-width: 900px;
	margin-inline: auto;
}

/* .Header {
	background: #ffe8d1;
} */

.HeaderContent {
	display: flex;
	gap: 1rem;
	align-items: center;
	padding: 1rem;
}

.AppLink {
	display: inline-flex;
	gap: 0.3rem;
	font-size: 1.3rem;
	text-decoration: none;
	font-weight: bold;
	color: #000;

	svg {
		display: inline-block;
		width: 1.2em;
		height: 1.2em;
	}
}

.Navigation {
	display: flex;
	gap: 1px;

	a {
		display: inline-flex;
		font-size: 0.9rem;
		text-decoration: none;
		padding: 0.5rem;
		border-radius: 6px;
		font-weight: 500;

		/* color: #000; */

		/* color: #191919; */
		color: #262423;

		&:hover {
			color: #000;

			/* background: #fcd5ad; */
			background-color: #ffc29136;
		}
	}
}

.Navigation__type_pulse {
	margin-inline-start: auto;
}

.Hero {
	margin-block: 5rem;
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.Hero_Message {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
}

.Hero_Header {
	font-weight: 500;
	font-size: 42px;
	margin: 0;
	color: #321e04;
}

.Hero_Description {
	/* font-weight: 300; */
	font-size: 20px;
	margin: 0;
	color: var(--color-secondary);
}

.Hero_Image {
	border-radius: 18px;
	border: 3px solid #fed5b2;
}

.Hero_Button {
	display: inline-block;
	font-size: 18px;
	padding: 0.7rem 1.4rem;
	background-color: #ffe7d3;
	border-radius: 8px;
	font-weight: 500;
	color: #754f2f;
}

.Hero_Button__view_primary {
	color: #fff;
	background-color: #000;
}

.Hero_Actions {
	display: flex;
	flex-direction: row;
	gap: 0.8rem;
}

.Highlights {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	max-width: 500px;
}

.Highlights_Item {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.Highlights_Title {
	margin: 0;
	font-size: 22px;
	font-weight: 500;
}

.Highlights_Description {
	margin: 0;
	font-size: 18px;
	color: var(--color-secondary);
}

.Summary {
	display: flex;
	gap: 3rem;
	margin-block: 5rem;
}

.SummaryAction {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 24px;
	gap: 1.5rem;
}

.SummaryAction_Logo {
	max-width: 100%;
	height: auto;
	transform: rotate(10deg);
}

.SummaryAction_Content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.3rem;
}

.Features {
	max-width: 100%;
	margin-block: 10rem;
}

.Features_Intro {
	margin-bottom: 3rem;
}

.Features_IntroTitle {
	font-size: 32px;
	font-weight: 500;
	margin: 0;
}

.Features_IntroText {
	font-size: 22px;
	color: var(--color-secondary);
}

.Features_List {
	display: grid;
	grid-template-columns: 50% 50%;
	gap: 2rem;
	row-gap: 3rem;
}

.Feature {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.Feature_Title {
	margin: 0;
	font-size: 22px;
	font-weight: 500;
	margin-bottom: 0.3rem;
}

.Feature_Description {
	margin: 0;
	font-size: 18px;
	margin-bottom: 0.5rem;
	color: var(--color-secondary);
}

.Feature_Image {
	display: flex;
	overflow: hidden;
	margin: 0;
	border: 3px solid #fed5b2;
	border-radius: 14px;
	max-height: 300px;

	img {
		object-fit: contain;
		min-width: 100%;
	}
}

.CTA {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	gap: 2rem;
	padding-top: 15%;
	box-sizing: border-box;
}

.CTA_Title {
	font-size: 42px;
	margin: 0;
}

.CTA_Text {
	max-width: 50%;
	font-size: 22px;
	margin: 0;
}

.Footer {
	padding-top: 1rem;
	padding-bottom: 5rem;
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.Footer_LanguagesList {
	display: flex;
	flex-wrap: wrap;
	font-size: 0.8rem;
	padding-block: 1rem;
	white-space: pre-wrap;
	justify-content: center;
}

.Footer_Content {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.Footer_About {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.Footer_Copyright {
	font-weight: 500;
	color: var(--color-secondary);
}

.Footer_Links {
	margin-left: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	gap: 2rem;
	flex-grow: 1;
	max-width: 50%;
}

.LinksGroup {
	font-weight: 500;
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
}

.LinksGroup_Title {
	font-weight: 500;
	font-size: 1.1rem;
	color: var(--color-secondary);
}

.LinksGroup_List {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
}
