.TagsList-Tag {
	display: flex;
	gap: 0.3rem;
	width: 100%;
	align-items: center;
}

.TagsList-Icon {
	--icon-size: 18px;

	width: var(--icon-size);
	height: var(--icon-size);
	min-width: var(--icon-size);
	min-height: var(--icon-size);
}

.TagsList-ExpandButton_visible:hover {
	backdrop-filter: contrast(0.7);
	border-radius: 4px;
}

.TagsList-ExpandButton:not(.TagsList-ExpandButton_opened) {
	transform: rotate(-90deg);
}

.TagsList-TagContent {
	overflow: hidden;
	text-overflow: ellipsis;

	/* white-space: nowrap; */
}
