.StatusBar {
	display: flex;
	flex-direction: row;
	flex-grow: 10;
	min-width: 100%;
	max-height: 28px;
	min-height: 28px;
	font-size: .9em;
	background: #fff7d9;
	color: #85722d;
	box-sizing: border-box;
	overflow: hidden;
	font-family: arial;
}

.StatusBar .Button {
	--button-border-radius: 0;
}

.StatusBar-StatusContainer {
	margin-left: auto;
}

.StatusBar-StatusContainer {
	line-height: 1.5rem;
}

.StatusBar-ProgressIndicator {
	display: flex;
    gap: 0.5em;
    height: 100%;
}

.StatusBar-ProgressIndicator > * {
	margin: auto;
}