.MainScreen {
	display: flex;
	height: 100vh;
	width: 100%;
	flex-direction: row;
}

.MainScreen-SideBar {
	min-width: 250px;
	max-width: 250px;
	border-right: 3px solid #fefe;
	padding: 0.5rem;
	overflow: auto;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.MainScreen-NotesList {
	overflow: auto;
}

.MainScreen-ContentBlock {
	width: 100%;
	padding: 1rem;
	display: flex;
	flex-direction: column;
}

.MainScreen-NoteEditors {
	display: flex;
	flex-grow: 100;
}
