.NotesList .Menu-Item.NotesList-Item_opened {
	color: var(--color-typo-secondary);
}

.NotesList .Menu-Item.NotesList-Item_active {
	background-color: var(--color-control-type-action-fill-color-base);
    color: var(--color-control-type-action-typo-base);
}

.NotesList .Menu-ItemText {
	white-space: nowrap;
}

.NotesList .Menu-Item {
	overflow: hidden;
	text-overflow: ellipsis;
}